#container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

  }

  .answer-container {
      display:flex;
      gap: 10px;
      
  }
  #answerA,
  #answerB {
    width: 6em;
  }
  .question {
      margin-top: 25px;
      
  }
  .previous-answer {
    font-weight: bold;
  }