* {
    padding: 0px;
    margin: 0px;
    background: rgb(235, 233, 233)
}

#top-nav {
    padding: 10px;
    background: #1c1f63;
}

#reload {
    width: 10em;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    
}
.dq,
.utk{
    width: 10em;
}

.answer-container {
      display:flex;
      gap: 10px;
      
}
#answerA,
#answerB {
    width: 6em;
}
  .question {
      margin-top: 25px;
      
}
.previous-answer {
font-weight: bold;
}
#faq-title {
font-weight: bold;
padding: 10px 0px 15px 0px;
}
#faq-content {

}